{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav site-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="#home">Sai Sampath Kedari</a></li>
          <li class="masthead__menu-item"><a href="#core-projects">Core Projects</a></li>
          <li class="masthead__menu-item"><a href="#math-foundations">Math Foundations</a></li>
          <li class="masthead__menu-item"><a href="#probabilistic-systems">Inference &amp; Uncertainty</a></li>
          <li class="masthead__menu-item"><a href="#coursework">Graduate Coursework</a></li>
          <li class="masthead__menu-item"><a href="#experience">Experience</a></li>
          <li class="masthead__menu-item"><a href="#teaching">Teaching</a></li>
          <li class="masthead__menu-item"><a href="#resume">Resume</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
