{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav site-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="/">Sai Sampath Kedari</a></li>
          <li class="masthead__menu-item"><a href="/#writing">Writing</a></li>
          <li class="masthead__menu-item"><a href="/#research">Research</a></li>
          <li class="masthead__menu-item"><a href="/#foundations">Foundations</a></li>
          <li class="masthead__menu-item"><a href="/#about">About</a></li>
          <li class="masthead__menu-item"><a href="/files/Resume_SaiSampathKedari.pdf">CV</a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
